name: Sweep OWASP Repositories

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  parse_repos:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.x

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests

    - name: Parse repositories
      env:
        SLACK_WEBHOOK_URL_SWEEP: ${{ secrets.SLACK_WEBHOOK_URL_SWEEP }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: python .github/scripts/sweep.py

#     - name: Upload JSON file
#       uses: actions/upload-artifact@v2
#       with:
#         name: www_project_repos
#         path: www_project_repos.json
        
    - name: Commit and push
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add www_project_repos.json
        git commit -m "Update repository status" || echo "No changes to commit"
        git push
